<div style="font-weight: bold;">框选详情</div>
<div class="gis-tk">
<ul>
<li><span>信号采样点</span><%=signalCount%></li>
<li><span>RSRP</span><%=rsrp%></li>
<li><span>SNR</span><%=snr%></li>
<li><span>时延</span><%=delay%></li>
<li><span>网络掉线次数</span><%=networkCount%></li>
<li><span>业务掉线次数</span><%=pingCount%></li>
<li><span>4G切3G次数</span><%=lteToWcdmaCount%></li>
</ul>
<ul style="float:right;">
<li><span>性能采样点</span><%=busCount%></li>
<li><span>RSRQ</span><%=rsrq%></li>
<li><span>下行链路带宽</span><%=link%></li>
<li><span>丢包</span><%=lose%></li>
<li><span>网络掉线率</span><%=networkRate%></li>
<li><span>业务掉线率</span><%=pingRate%></li>
</ul>
</div>