<div style="font-weight: bold;">采样点详情</div>
<div class="gis-tk">
<ul>
<li><span>IMEI</span><%=imei%></li>
<li><span>采样时间</span><%=time%></li>
<li><span>PCI</span><%=pci%></li>
<li><span>TAC</span><%=tac%></li>
<li><span>CI</span><%=ci%></li>
<li><span>ENodeBID</span><%=bid%></li>
<li><span>网络事件</span><%=netWarn%></li>
</ul>
<ul style="float:right;margin-left:3px;">
<li><span>RSRP</span><%=rsrp%></li>
<li><span>RSRQ</span><%=rsrq%></li>
<li><span>SNR</span><%=snr%></li>
<li><span>下行链路带宽</span><%=link%></li>
<li><span>时延</span><%=delay%></li>
<li><span>丢包</span><%=lose%></li>
<li><span>业务事件</span><%=dicWarn%></li>
</ul>
</div>